.action-icon{
cursor:pointer;
font-size:18px;
margin:0 8px;
}
.action-icon:hover{
transform:scale(1.2);
}

/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
