<agm-map

  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  (mapReady)="onMapReady($event)"
  style="height: 100vh; width: 100%;">



  <!-- Path -->
  <!-- <agm-polyline
    [strokeColor]="'green'"
    [strokeWeight]="3">

    <agm-polyline-point
      *ngFor="let point of path"
      [latitude]="point.lat"
      [longitude]="point.lng">
    </agm-polyline-point>

  </agm-polyline> -->

  <!-- Green markers for every lat/lng -->
  <agm-marker
    *ngFor="let point of path; let i = index"
    [latitude]="point.lat"
    [longitude]="point.lng"
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/FORWARD_CLOSED_ARROW.png'">
  </agm-marker>

</agm-map>
