<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Reset your password</h4>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="feather icon-mail"></i>
                </span>
              </div>
              <input type="email" class="form-control" placeholder="Email address">
            </div>

            <!-- Reset Button -->
            <button class="btn btn-block btn-primary mb-4">Reset Password</button>

            <!-- OR Divider -->
            <p class="text-muted mb-2">Or</p>

            <!-- Back to Login -->
            <p class="mb-0 text-muted">
              <!-- <a [routerLink]="['/auth/signin']" class="f-w-400">Go back to login</a> -->
            Go back to <a [routerLink]="['/auth/signin']" class="f-w-400">Login</a>

            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>