
<!-- FIRMWARE REGISTRATION FORM -->
<form
  [formGroup]="firmwareForm"
  (ngSubmit)="AddFirmware()"
  class="card p-4 mb-4"
>
  <h4 class="mb-4">Add Firmware</h4>

  <div class="row">
   

    <div class="col-md-4 mb-3">
      <label class="form-label">Firmware Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="firmName"
        placeholder="Enter Firmware Name"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label class="form-label">SW Version</label>
      <input
        type="text"
        class="form-control"
        formControlName="swVersion"
        placeholder="Enter Software Version"
      />
    </div>

<div class="col-md-4 mb-3">
  <input type="hidden" name="msgtype" value="2" />

  <label>Firmware File (Click </label>
  &nbsp;
  <label style="color: blue; text-decoration: underline; cursor: pointer">
    <input
      type="file"
      class="form-control"
      formControlName="firmwareFile"
      placeholder="Select Firmware File"
      style="display: none"
    
      (change)="onFileChange($event)"
    />
    here
  </label>
  &nbsp;
  <label>to upload)</label>

  <textarea class="form-control" rows="1">{{displayfile}}</textarea>
</div>


  <!-- <div class="text-left">
    <button
      type="submit"
      class="btn btn-primary px-4"
      [disabled]="firmwareForm.invalid"
    >
      save
    </button>
    </div> -->





    


  </div>
      <div class="d-flex justify-content-end mt-4">
    <button
      type="submit"
      class="btn btn-primary px-4"
      [disabled]="firmwareForm.invalid"
    >
      Save
    </button>
  </div>
</form>



<!-- Firmware List Table -->
<div class="card mt-4 p-4">
  <h4 class="mb-3 text-left">Firmwares</h4>

  <!-- <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover text-center">
      <thead style="background-color: #101b33; color: white;">
        <tr>
          <th>FWID</th>
          <th>SW Version</th>
          <th>Firmware Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let fw of firmwares; let i = index">
          <td>{{ fw.fwId }}</td>
          <td>{{ fw.swVersion }}</td>
          <td>{{ fw.firmName }}</td>
          <td>
            <div class="d-flex justify-content-center">
              <button class="btn btn-sm btn-info mr-1"
                      (click)="openEditFirmwareModal(editFirmwareModal, fw)">
                Edit
              </button>

              <button class="btn btn-sm btn-info mr-1"
                      (click)="openDeleteFirmwareModal(deleteFirmwareModal, fw)">
                Delete
              </button>
            </div>
          </td>
        </tr>

        <tr *ngIf="firmwares.length === 0">
          <td colspan="4" class="text-muted">
            No firmwares found
          </td>
        </tr>
      </tbody>
     
    </table>

  

  </div>

     <div class="d-flex justify-content-center mt-3" *ngIf="totalPages > 1">
  <nav>
    <ul class="pagination">

      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
      </li>

      <li class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1">
        <a class="page-link" (click)="changePage(i + 1)">
          {{ i + 1 }}
        </a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
      </li>

    </ul>
  </nav>
</div> -->
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover text-center">
    <thead style="background-color: #101b33; color: white;">
      <tr>
        <th>FWID</th>
        <th>SW Version</th>
        <th>Firmware Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let fw of firmwares; let i = index">
        <td>{{ fw.fwId }}</td>
        <td>{{ fw.swVersion }}</td>
        <td>{{ fw.firmName }}</td>
        <td>
          <div class="d-flex justify-content-center">
            <button class="btn btn-sm btn-info mr-1"
                    (click)="openEditFirmwareModal(editFirmwareModal, fw)">
              Edit
            </button>

            <button class="btn btn-sm btn-info mr-1"
                    (click)="openDeleteFirmwareModal(deleteFirmwareModal, fw)">
              Delete
            </button>
          </div>
        </td>
      </tr>

      <tr *ngIf="firmwares.length === 0">
        <td colspan="4" class="text-muted">
          No firmwares found
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ✅ PAGINATION TABLE KE BAHAR -->
<div class="d-flex justify-content-center mt-3" *ngIf="totalPages > 1">
  <nav>
    <ul class="pagination">

      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
      </li>

      <li class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1">
        <a class="page-link" (click)="changePage(i + 1)">
          {{ i + 1 }}
        </a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
      </li>

    </ul>
  </nav>
</div>

</div>


<!-- EDIT FIRMWARE MODAL -->
<ng-template #editFirmwareModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Firmware</h5>
   <button type="button" class="close"
        aria-label="Close"
        (click)="modal.dismiss()">
  <span aria-hidden="true">&times;</span>
</button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editFirmwareForm">
      <div class="mb-3">
        <label>FWID</label>
        <input class="form-control" formControlName="fwId" disabled>
      </div>

      <div class="mb-3">
        <label>SW Version</label>
        <input class="form-control" formControlName="swVersion" disabled>
      </div>

      <div class="mb-3">
        <label>Firmware Name</label>
        <input class="form-control" formControlName="firmName">
      </div>

        <div class="mb-3">
        <label>Firmware</label>
        <input class="form-control" formControlName="firmwareFile" disabled>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-primary" (click)="updateFirmware(modal)">Update</button>
  </div>
</ng-template>

<!-- DELETE FIRMWARE MODAL -->
<ng-template #deleteFirmwareModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-danger">Confirm Delete</h5>
      <button type="button" class="close"
        aria-label="Close"
        (click)="modal.dismiss()">
  <span aria-hidden="true">&times;</span>
</button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete this firmware?
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-danger" (click)="deleteFirmware(model)">Delete</button>
  </div>
</ng-template>



