
<!-- FIRMWARE REGISTRATION FORM -->
<form
  [formGroup]="firmwareForm"
  (ngSubmit)="submitFirmware()"
  class="card p-4 mb-4"
>
  <h4 class="mb-4">Add Firmware</h4>

  <div class="row">
   

    <div class="col-md-4 mb-3">
      <label class="form-label">SW Version</label>
      <input
        type="text"
        class="form-control"
        formControlName="sw"
        placeholder="Enter Software Version"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label class="form-label">Firmware Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="fwName"
        placeholder="Enter Firmware Name"
      />
    </div>
<div class="col-md-4 mb-3">
  <input type="hidden" name="msgtype" value="2" />

  <label>Firmware File (Click </label>
  &nbsp;
  <label style="color: blue; text-decoration: underline; cursor: pointer">
    <input
      type="file"
      style="display: none"
      ng2FileSelect
      [uploader]="uploader"
      (change)="onFileChange($event)"
    />
    here
  </label>
  &nbsp;
  <label>to upload)</label>

  <textarea class="form-control" rows="2">{{displayfile}}</textarea>
</div>


  <div class="text-end">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="AddFirmware()"
      [disabled]="firmwareForm.invalid"
    >
      save
    </button>
    </div>
  </div>
</form>



<!-- Firmware List Table -->
<div class="card mt-4 p-4">
  <h4 class="mb-3">Registered Firmwares</h4>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead style="background-color: #101b33; color: white;">
        <tr>
          <th>FWID</th>
          <th>SW Version</th>
          <th>Firmware Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let fw of firmwares; let i = index">
          <td>{{ fw.fwid }}</td>
          <td>{{ fw.sw }}</td>
          <td>{{ fw.fwName }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-info me-2"
                    (click)="openEditFirmwareModal(editFirmwareModal, fw)">
              Edit
            </button>

            <button class="btn btn-sm btn-danger"
                    (click)="openDeleteFirmwareModal(deleteFirmwareModal, fw)">
              Delete
            </button>
          </td>
        </tr>

        <tr *ngIf="firmwares.length === 0">
          <td colspan="4" class="text-center text-muted">
            No firmwares found
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- EDIT FIRMWARE MODAL -->
<ng-template #editFirmwareModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Firmware</h5>
    <button type="button" class="btn-close"
            (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editFirmwareForm">
      <div class="mb-3">
        <label>FWID</label>
        <input class="form-control" formControlName="fwid">
      </div>

      <div class="mb-3">
        <label>SW Version</label>
        <input class="form-control" formControlName="sw">
      </div>

      <div class="mb-3">
        <label>Firmware Name</label>
        <input class="form-control" formControlName="fwName">
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-primary" (click)="updateFirmware(modal)">Update</button>
  </div>
</ng-template>

<!-- DELETE FIRMWARE MODAL -->
<ng-template #deleteFirmwareModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-danger">Confirm Delete</h5>
    <button type="button" class="btn-close"
            (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete this firmware?
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-danger" (click)="confirmDeleteFirmware(modal)">Delete</button>
  </div>
</ng-template>


