.toggle-eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  z-index: 2;
}

/* 👇 ye line MOST IMPORTANT hai */
.input-group input {
  padding-right: 45px;  /* icon ke liye space */
}