<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-4 f-w-400">Change your password</h4>

      <div class="mb-2 position-relative">
  <input 
    [type]="showNewPassword ? 'text' : 'password'" 
    class="form-control" 
    placeholder="New Password"
    [(ngModel)]="newPassword"
    name="newPassword"
  >

  <span class="toggle-eye" (click)="showNewPassword = !showNewPassword">
    <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
  </span>
</div>

<div class="mb-4 position-relative"> 
  <input 
    [type]="showConfirmPassword ? 'text' : 'password'" 
    class="form-control" 
    placeholder="Re-Type New Password"
    [(ngModel)]="confirmPassword"
    name="confirmPassword"
  >

  <span class="toggle-eye" (click)="showConfirmPassword = !showConfirmPassword">
    <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
  </span>
</div>

        <button 
          type="button"
          class="btn btn-block btn-primary mb-4"
          (click)="changePassword()"
        >
          Change password
        </button>

      </div>
    </div>
  </div>
</div>