<form
  [formGroup]="DeviceForm"
  (ngSubmit)="submit()"
  class="card p-4"
>

  <h3 class="mb-4">Device Registration</h3>

  <!-- Row 1 -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">IMEI</label>
      <input
        type="text"
        class="form-control"
        formControlName="imei"
        placeholder="Enter IMEI"
        inputmode="numeric"
       pattern="[0-9]*"
       oninput="this.value=this.value.replace(/[^0-9]/g,'')"
         [ngClass]="{'is-invalid': DeviceForm.get('imei')?.touched && DeviceForm.get('imei')?.invalid}" />

<div class="invalid-feedback"
     *ngIf="DeviceForm.get('imei')?.touched">

  <div *ngIf="DeviceForm.get('imei')?.hasError('required')">
    IMEI is required
  </div>

  <div *ngIf="DeviceForm.get('imei')?.hasError('pattern')">
    IMEI must be exactly 15 digits
  </div>

</div>


    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">IMSI</label>
      <input
        type="text"
        class="form-control"
        formControlName="imsi"
        placeholder="Enter IMSI"
        inputmode="numeric"
       pattern="[0-9]*"
       oninput="this.value=this.value.replace(/[^0-9]/g,'')"
      [ngClass]="{'is-invalid': DeviceForm.get('imsi')?.touched && DeviceForm.get('imsi')?.invalid}" />
      

<!-- <div class="invalid-feedback"
     *ngIf="DeviceForm.get('imsi')?.touched && DeviceForm.get('imsi')?.hasError('required')">
  IMSI is required
</div> -->
<div class="invalid-feedback"
     *ngIf="DeviceForm.get('imsi')?.touched">

  <div *ngIf="DeviceForm.get('imsi')?.hasError('required')">
    MSISDN is required
  </div>

  <div *ngIf="DeviceForm.get('msiimsidn')?.hasError('pattern')">
    MSISDN must be 4 to 12 digits
  </div>

</div>

    </div>
  </div>

  <!-- Row 2 -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">ICCID</label>
      <input
        type="text"
        class="form-control"
        formControlName="iccid"
        placeholder="Enter ICCID"
        inputmode="numeric"
       pattern="[0-9]*"
       oninput="this.value=this.value.replace(/[^0-9]/g,'')"
         [ngClass]="{'is-invalid': DeviceForm.get('iccid')?.touched && DeviceForm.get('iccid')?.invalid}" />

   
<div class="invalid-feedback"
     *ngIf="DeviceForm.get('iccid')?.touched">

  <div *ngIf="DeviceForm.get('iccid')?.hasError('required')">
    ICCID is required
  </div>

  <div *ngIf="DeviceForm.get('iccid')?.hasError('pattern')">
    ICCID must be 4 to 20 digits
  </div>

</div>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">MSISDN</label>
      <input
        type="text"
        class="form-control"
        formControlName="msisdn"
        placeholder="Enter MSISDN"
        inputmode="numeric"
       pattern="[0-9]*"
       oninput="this.value=this.value.replace(/[^0-9]/g,'')"
         [ngClass]="{'is-invalid': DeviceForm.get('msisdn')?.touched && DeviceForm.get('msisdn')?.invalid}"
      />

   <div class="invalid-feedback"
     *ngIf="DeviceForm.get('msisdn')?.touched">

  <div *ngIf="DeviceForm.get('msisdn')?.hasError('required')">
    MSISDN is required
  </div>

  <div *ngIf="DeviceForm.get('msisdn')?.hasError('pattern')">
    MSISDN must be 4 to 12 digits
  </div>

</div>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Carrier</label>
      <select class="form-control" formControlName="carrier"
       [ngClass]="{'is-invalid': DeviceForm.get('carrier')?.touched && DeviceForm.get('carrier')?.invalid}">
        <option value="">Select Carrier</option>
        <option *ngFor="let c of carriers" [value]="c">
          {{ c }}
        </option>
      </select>
      <div class="invalid-feedback"
     *ngIf="DeviceForm.get('carrier')?.touched && DeviceForm.get('carrier')?.hasError('required')">
  Carrier is required
</div>
    </div>

    
    <div class="col-md-6 mb-3">
      <label class="form-label">Group</label>
      <select class="form-control" formControlName="grpId"  [ngClass]="{'is-invalid': DeviceForm.get('grpId')?.touched && DeviceForm.get('grpId')?.invalid}">
        <option value="">Select Group</option>
        <option *ngFor="let g of groups" [value]="g._id">
          {{ g.grpName }}
        </option>
      </select>
      <div class="invalid-feedback"
     *ngIf="DeviceForm.get('grpId')?.touched && DeviceForm.get('grpId')?.hasError('required')">
  Group is required
</div>
    </div>
  </div>

  <!-- Submit -->
  <div class="d-flex justify-content-end mt-4">
    <button
      type="submit"
      class="btn btn-primary px-4"
      [disabled]="DeviceForm.invalid"
    >
      Submit
    </button>
  </div>

</form>


<!-- Device List Table -->
<div class="card mt-4 p-4">
  <h4 class="mb-3">Devices</h4>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead style="background-color: #101b33; color: white;">
        <tr>
          <th>IMEI</th>
          <th>IMSI</th>
          <th>ICCID</th>
          <th>MSISDN</th>
          <th>Carrier</th>
          <th>User</th>
          <!-- <th>Group</th> -->
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let device of devices; let i = index">
          <td>{{ device.imei }}</td>
          <td>{{ device.deviceInfo.imsi }}</td>
          <td>{{ device.deviceInfo.iccid }}</td>
          <td>{{ device.deviceInfo.msisdn }}</td>
          <td>{{ device.deviceInfo.carrier }}</td>
          <td>{{ device.clientId }}</td>
          <!-- <td>{{ device.grpId }}</td> -->
          <td class="text-center">
          <button class="btn btn-sm btn-info me-2"
                  (click)="openEditModal(editModal, device)">
            Edit
          </button>

          <button class="btn btn-sm btn-danger"
                  (click)="openDeleteModal(deleteModal, device)">
            Delete
          </button>
        </td>
        </tr>

        <tr *ngIf="devices.length === 0">
          <td colspan="8" class="text-center text-muted">
            No devices found
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="d-flex justify-content-between align-items-center mt-3">

    <button class="btn btn-outline-primary btn-sm"
            (click)="prevPage()"
            [disabled]="currentPage===1">
      Previous
    </button>

    <span>Page {{currentPage}} of {{totalPages}}</span>

    <button class="btn btn-outline-primary btn-sm"
            (click)="nextPage()"
            [disabled]="currentPage===totalPages">
      Next
    </button>

  </div>
</div>


<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Device</h5>
     <button type="button" class="close"
        aria-label="Close"
        (click)="modal.dismiss()">
  <span aria-hidden="true">&times;</span>
</button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="mb-3">
        <label>IMEI</label>
        <input class="form-control" formControlName="imei" disabled>
      </div>

      <div class="mb-3">
        <label>IMSI</label>
        <input class="form-control" formControlName="imsi">
      </div>

      <div class="mb-3">
        <label>ICCID</label>
        <input class="form-control" formControlName="iccid">
      </div>

      <div class="mb-3">
        <label>MSISDN</label>
        <input class="form-control" formControlName="msisdn">
      </div>
        <div class="mb-3">
        <label>CARRIER</label>
        <input class="form-control" formControlName="carrier">
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary"
            (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-primary"
            (click)="updateDevice(modal)">
      Update
    </button>
  </div>
</ng-template>



<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-danger">Confirm Delete</h5>
     <button type="button" class="close"
        aria-label="Close"
        (click)="modal.dismiss()">
  <span aria-hidden="true">&times;</span>
</button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete this device?
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary"
            (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-danger"
            (click)="confirmDelete(modal)">
      Delete
    </button>
  </div>
</ng-template>


