.action-icon {
  cursor: pointer;
  margin: 0 8px;
  font-size: 16px;
  transition: 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.1);
}


.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}